.app {
  margin: 0 auto;
  text-align: center;
}

/* button {
  background-color: white;
  font: inherit;
  border: 1px solid blue;
  padding: 8px;
  cursor: pointer;
} */

.red {
  color: red;
}

.bold {
  font-weight: bold;
}

button:hover {
  background: lightgreen !important;
  color: #000 !important;
}
